#requirements{

	margin: 2%;
}

#installation{

	margin: 5%;
}
#Settings{

	margin: 5%;
}

#paypal {

	margin: 5%;
}

#ads {

	margin: 5%;
}

#about , #features,#terms,#contact,#faqs {
	margin: 5%;
}
